@import url(https://fonts.googleapis.com/css?family=Varela);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primaryColor: #ea4c88;
  --primaryHoverColor: #d44179;
  --secondaryColor: rgba(59, 65, 72, 0.8);
  --secondaryHoverColor: #434a52;
  --containerColor: #3b4148;
  --basicColor: #363b41;
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --limeColor: lime;
}
html, body{
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
body {
  min-width: 635px !important;
  font-size: 1em;
  line-height: 1.4;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  background-color: whitesmoke;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
a {
  color: lime;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style: none;
}
footer {
  background-color: rgba(59, 65, 72, 0.9);
  text-align: center;
  color: whitesmoke;
  bottom: 0;
}

/* 
===================================================================================
===================================================================================
===================================================================================
                        USER DASHBOARD 
===================================================================================
===================================================================================
===================================================================================
*/

/*----------------------- welcome message Styling --------------------- */
section .welcome_message {
  width: 90vh;
  margin-top: 9rem;
  padding: 0 3rem 0 3rem;
  word-break: break-word;
}
@media screen and (max-width: 630px) {
}
section .welcome_message p {
  font-size: 1.5rem;
  line-height: 0.5rem;
  font-weight: 0.2;
}
section .transaction_message {
  padding: 0 3rem 0 3rem;
  margin-bottom: 3rem;
}
section .transaction_message p {
  font-size: 1.5rem;
  line-height: 0.5rem;
  font-weight: 0.2;
}
/*----------------------- Account Details Styling --------------------- */
.account_details {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 2rem;
  flex-shrink: 1;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 1rem 2rem 1rem;
  background-color: rgba(59, 65, 72, 0.9);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 7px;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1031px) {
  .welcome_message {
    padding-top: 10% !important;
  }
}
@media screen and (max-width: 960px) {
  .account_details {
    flex-wrap: wrap;
  }
  .account_details .card_info {
    width: 50% !important;
  }
  .account_details .main_balance {
    width: 50% !important;
  }
  .account_details .accounts_info {
    margin-top: 3rem !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 630px) {
  .welcome_message {
    padding-top: 5% !important;
    margin-top: 10% !important;
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 90vw !important;
  }
  .account_details {
    flex-shrink: 1 !important;
    width: 90vw !important;
  }
  .account_details .card_info {
    width: 100% !important;
  }
  .account_details .main_balance {
    width: 100% !important;
  }
  .account_details #main_bal,
  .prof_top #main_bal {
    font-size: 2rem !important;
  }
  .account_details .accounts_info {
    margin-top: 3rem !important;
    flex-direction: column !important;
  }
  .account_details .accounts_balance {
    flex-direction: column;
  }
  .account_details .accounts_balance p {
    width: 100%;
  }
  .account_details .accounts_info .full_profile_btn {
    display: flex;
    align-items: center;
  }
  .account_details .accounts_balance p {
    width: 100% !important;
  }
  .account_details .accounts_info .full_profile_btn #btn {
    width: 100% !important;
  }
}
/* ------------------- */
.account_details .card_info {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 1.5rem;
  width: 25%;
}
.account_details #thick,
.prof_top #thick {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: bold;
}
.account_details #fade,
.prof_top #fade {
  color: #909497;
  font-size: 1rem;
}
.account_details .main_balance,
.prof_top .main_balance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.account_details #main_bal,
.prof_top #main_bal {
  color: lime;
  font-size: 4vw;
  letter-spacing: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 3rem;
}
.account_details sup {
  color: white;
  font-size: 2rem;
}
.account_details .accounts_info {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.account_details .accounts_balance {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.account_details .accounts_balance p {
  width: 50%;
}
.account_details .accounts_balance .green {
  color: lime;
  font-weight: 100;
}
.account_details .accounts_balance .red {
  color: red;
  font-weight: 300;
}

.account_details .accounts_info .full_profile_btn #btn {
  height: 4rem;
  float: right;
  width: 50%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: rgba(231, 54, 121, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: white;
}
.account_details .accounts_info .full_profile_btn #btn:hover {
  background-color: rgba(234, 77, 136, 0.8);
}

/*----------------------- Account Transactions Styling --------------------- */
.transactions {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin: 1rem;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 630px) {
  .transactions .row .column:nth-child(3) {
    display: none;
  }
  .transactions {
    width: 90vw !important;
  }
  .transactions .row .column {
    white-space: nowrap;
  }
  .transactions .table_body .column:nth-last-child(1) {
    text-align: right !important;
  }
  .transactions .row {
    justify-content: space-between !important;
  }
  .transaction_message p {
    font-size: 1.3rem !important;
  }
}
.transactions .table_head {
  background-color: rgba(59, 65, 72, 0.9);
  border-radius: 7px 7px 0 0;
}
.transactions .table_head .column {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.transactions .table_head .column:nth-last-child(1) {
  text-align: right;
  padding-right: 1rem;
}
.transactions .table_head {
  line-height: 30px;
  vertical-align: middle;
}

.transactions .table_body .row:nth-child(odd) {
  background-color: #606468;
}
.transactions .table_body .row:nth-child(even) {
  background-color: rgba(59, 65, 72, 0.9);
}
.transactions .table_body .row:nth-last-child(1) {
  border-radius: 0 0 7px 7px;
}
.transactions .table_body .column {
  text-align: left;
  line-height: 28px;
  vertical-align: middle;
}
.transactions .table_body .column:nth-last-child(1) {
  text-align: right;
  padding-right: 1rem;
}
.transactions .row {
  padding: 1rem;
  display: flex;
}
.transactions .row .column {
  flex: 0 1 25%;
}
.transactions #green,
.transactions #recieved,
.pro_pic_details .green {
  color: lime !important;
}
.transactions #red,
.transactions #sent {
  color: #ff1a1a;
  font-weight: bold;
}
.transactions .amt::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.transactions #sent::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f30c";
}
.transactions #recieved::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f309";
}

/*----------------------- Create Account Div Styling --------------------- */
section .create_acct_div {
  display: flex;
  background-color: rgba(59, 65, 72, 0.9);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 7px;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
  margin: 1rem;
  margin-bottom: 2rem;
  color: whitesmoke;
}
@media screen and (max-width: 630px) {
  section .create_acct_div {
    width: 90vw;
    flex-direction: column;
  }
  section .create_acct_div p {
    font-size: 1rem !important;
    letter-spacing: 0.3rem !important;
    text-align: center;
  }
}
section .create_acct_div .btn,
.prof_top .btn {
  cursor: pointer;
  font-size: calc(13px + 1vw) !important;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: rgba(231, 54, 121, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: white;
  max-height: 70px;
  min-height: 50px;
  flex: 1 1 auto;
}
section .create_acct_div p {
  font-size: 2rem;
  letter-spacing: 0.6em;
}
section .create_acct_div .btn:hover,
.main_balance .btn:hover {
  background-color: rgba(234, 77, 136, 0.8);
}

/* 
===================================================================================
===================================================================================
===================================================================================
                        USER TRANSACTIONS 
===================================================================================
===================================================================================
===================================================================================
*/
@media screen and (max-width: 444px) {
  .trans_body {
    width: 100vw;
    margin-top: 15% !important;
    box-sizing: border-box;
  }
  .trans_body h2 {
    padding-left: 25vw !important;
    font-size: 1.5rem !important;
  }
  .trans_body .investment_transactions_div,
  .trans_body .savings_transaction_div,
  .trans_body .credit_transactions_div {
    margin: 3rem 1rem 2rem 1rem;
    background-color: rgba(59, 65, 72, 0.9);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 7px;
    box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
      0 0.5em 1.25em rgba(0, 0, 0, 0.5);
    max-width: 90vw;
    min-width: 19rem;
  }

  .trans_body .investment_transactions_div .row .cell:nth-child(2),
  .trans_body .savings_transaction_div .row .cell:nth-child(2),
  .trans_body .credit_transactions_div .row .cell:nth-child(2) {
    display: none !important;
  }
}
@media screen and (max-width: 1065px) {
  .trans_body .investment_transactions_div,
  .trans_body .savings_transaction_div,
  .trans_body .credit_transactions_div {
    width: 95vw !important;
  }
  .cell {
    display: table-cell;
    padding: 0.3rem 5vw !important;
  }
  .trans_body {
    margin-top: 20% !important;
  }
}
.trans_body {
  margin-top: 10%;
}
.trans_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 auto;
}
.trans_body .investment_transactions_div,
.trans_body .savings_transaction_div,
.trans_body .credit_transactions_div {
  display: table;
  margin: 3rem 1rem 2rem 1rem;
  background-color: rgba(59, 65, 72, 0.9);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 7px;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
  width: 45%;
}
.trans_body .investment_transactions_div .row,
.trans_body .savings_transaction_div .row,
.trans_body .credit_transactions_div .row {
  display: table-row;
}
.cell {
  display: table-cell;
  padding: 0.3rem 2vw;
}
.trans_body td:nth-child(2),
.trans_body th:nth-child(2) {
  display: initial;
}
.trans_body .row {
  display: table-row;
}
.trans_body .row,
.trans_body .row {
  padding: 0.5rem;
  color: rgb(212, 206, 206) !important;
}
.trans_body label {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.trans_body h2 {
  padding-left: 35vw;
  font-size: 3rem;
}
/* 
===================================================================================
===================================================================================
===================================================================================
                        USER PROFILE 
===================================================================================
===================================================================================
===================================================================================
*/

/* -------------- PROFILE TOP DIV --------------- */
.prof_body .prof_top {
  display: flex;
  flex-direction: row;
  margin: 3rem 1rem 2rem 1rem;
  background-color: rgba(59, 65, 72, 0.9);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 7px;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
  margin-top: 10%;
  box-sizing: border-box;
  justify-content: space-between;
}
.prof_top_left {
  display: flex;
  flex-direction: row;
}
.prof_top_left .prof_pic img {
  width: 13rem;
  height: 13rem;
}
.prof_pic .btn {
  max-width: 13rem;
  text-transform: uppercase;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(231, 54, 121, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  font-size: calc(9px + 1vw) !important;
}
.prof_pic .btn:hover {
  background-color: rgba(234, 77, 136, 0.8);
}
.prof_pic input[type="file"] {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.prof_top_left .prof_pic {
  display: flex;
  flex-direction: column;
}

.prof_top .pro_pic_details {
  padding-left: 1rem;
  padding-top: 1rem;
}
.prof_top .pro_pic_details p {
  color: whitesmoke;
  padding: 0rem;
  font-size: 1rem;
}
.prof_top #thick {
  color: white;
}
@media screen and (max-width: 626px) {
  .prof_top {
    margin-top: 12% !important;
    flex-direction: column !important;
    max-width: 90vw;
  }
  .prof_pic {
    text-align: center !important;
    box-sizing: border-box;
    align-items: center;
  }
  .prof_pic .btn {
    width: 100%;
  }
  .prof_top .prof_top_left {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .prof_top .main_balance {
    padding-top: 5vh;
    width: 100%;
  }
  .prof_top #main_bal {
    font-size: 2rem !important;
  }
}
@media only screen and (max-width: 960px) {
  .prof_top {
    margin-top: 25% !important;
  }
}

/* --------------END PROFILE TOP DIV --------------- */

/*---------------- Profile Accounts -----------------*/
.prof_accts {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem 2rem 1rem;
  background-color: rgba(59, 65, 72, 0.9);
  border-radius: 7px;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
  width: 46vw;
  overflow: hidden;
  justify-content: space-between;
}
.rwd-table {
  display: block;
  margin: 0 auto;
  width: auto;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
  color: rgb(211, 43, 107);
  font-size: 1.1rem;
  text-transform: uppercase;
}
.rwd-table td {
  display: block;
  color: whitesmoke;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.rwd-table .green {
  color: lime;
}
.rwd-table .red {
  color: red;
}
@media (max-width: 630px) {
  .prof_accts {
    width: 90vw;
  }
}
@media (min-width: 960px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
@media (min-width: 960px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}
.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}
@media (min-width: 960px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th,
.rwd-table td:before {
  color: rgb(211, 43, 107) !important;
}
/*---------------- END Profile Accounts -----------------*/

.prof_down {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*---------------- Profile Details -----------------*/
.prof_details {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem 2rem 1rem;
  background-color: rgba(59, 65, 72, 0.9);
  border-radius: 7px;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: calc(47vw - 4px);
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (max-width: 853px) and (min-width: 630px) {
  .prof_accts {
    width: 43vw;
  }
}
.prof_details input:enabled {
  background-color: rgba(59, 65, 72, 0.8);
  border-radius: 4px;
  border: none;
  height: 1.3rem;
  flex: 1 1 auto;
  margin-left: 1rem;
  padding-left: 0.5rem;
  color: rgb(243, 236, 236);
  font-size: 1rem;
}
.prof_details input:disabled {
  border: none;
  height: 1.3rem;
  flex: 1 1 auto;
  padding-left: 1rem;
  background-color: transparent !important;
  font-size: 1rem;
  color: rgb(243, 236, 236);
}
.prof_details span {
  padding: 1.5vw;
  display: flex;
}
.prof_details input::placeholder {
  color: rgb(243, 236, 236);
  font-size: 1rem;
}
.prof_details label {
  color: white;
}
.prof_details .edit_save {
  display: flex;
}
.prof_details .edit_save .savee {
  background-color: lime !important;
}
.prof_details .edit_save .savee:hover {
  background-color: rgb(152, 209, 152, 0.99) !important;
}
.prof_accts .btn,
.prof_details .btn {
  margin-top: 100%;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(231, 54, 121, 0.9);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: white;
  flex: 1 1 auto;
  margin: 1vw;
  max-height: 3rem;
  min-height: 2.8rem;
}
.prof_accts .btn:hover,
.prof_details .btn:hover {
  background-color: rgba(234, 77, 136, 0.8);
}
@media screen and (max-width: 630px) {
  .prof_details {
    width: 90vw;
  }
}

/* 
===================================================================================
===================================================================================
===================================================================================
                        ADMIN ACCOUNTS HOME PAGE
===================================================================================
===================================================================================
===================================================================================
*/

/* --------------------All Accounts Info ---------------- */
.body #all_accounts_info {
  display: flex;
  flex-direction: row;
  margin: 3rem 1rem 2rem 1rem;
  background-color: rgba(59, 65, 72, 0.9);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 7px;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
  margin-top: 10%;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}
.body #all_accounts_info .tot_name {
  font-size: 2rem;
  text-transform: uppercase;
  color: whitesmoke;
}
.body #all_accounts_info .tot_value {
  color: lime;
  font-size: 4vw;
  letter-spacing: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 0.4rem;
}
.body #all_accounts_info .tot_yesterday {
  color: #909497;
  font-size: 1rem;
  margin-top: 0.5rem;
}
@media screen and (max-width: 1031px) {
  .body #all_accounts_info {
    margin-top: 29vh;
  }
}
@media screen and (max-width: 630px) {
  .body #all_accounts_info {
    flex-direction: column;
    width: 90vw;
    margin-top: 14vh !important;
  }
  #all_accounts_info #tot_sent,
  #all_accounts_info #tot_recieved,
  #all_accounts_info #tot_balance {
    margin-top: 1rem;
  }
  #all_accounts_info .tot_name {
    font-size: 1.5rem !important;
  }
  #all_accounts_info .tot_value {
    font-size: 2rem !important;
  }
}

/* ----------ALL ACCOUNTS TABLE ---------- */
#all_bank_accounts {
  margin: 3rem 1rem 2rem 1rem;
  background-color: rgba(59, 65, 72, 0.9);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 7px;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
  margin-top: 6%;
}
#all_bank_accounts .green_btn {
  color: white;
  width: 100%;
  background-color: lime;
  height: 2rem;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}
#all_bank_accounts .green_btn:hover {
  background-color: rgb(122, 235, 122);
}
#all_bank_accounts .btn {
  text-transform: uppercase;
  border: none;
  background-color: rgba(231, 54, 121, 0.9);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  height: 2rem;

}
#all_bank_accounts .btn:hover {
  background-color: #ea4c88;
}
#all_bank_accounts .red_btn {
  color: white;
  width: 100%;
  background-color: red;
  height: 2rem;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}
#all_bank_accounts .red_btn:hover {
  background-color: rgb(240, 86, 86);
}

@media screen and (min-width: 960px) {
  #all_bank_accounts .rwd-table th,
  #all_bank_accounts .rwd-table td {
    width: 14%;
  }
}
@media screen and (max-width: 630px) {
  #all_bank_accounts {
    width: 90vw !important;
  }
}

/* 
===================================================================================
===================================================================================
===================================================================================
                        ADMIN SINGLE ACCOUNT
===================================================================================
===================================================================================
===================================================================================
Inherited from profile.html and user dashboard
*/

.prof_down .transactions{
  width: 100%;
}
.prof_prof .prof_details{
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 630px){
  .prof_prof .prof_details{
    width: 90vw;
  }
}
.rwd-table td:nth-last-child(1):before,
.rwd-table td:nth-last-child(2):before {
  content: none;
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
